NEXT_PUBLIC_SUPABASE_URL=https://zrjthioylovvarhpelym.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpyanRoaW95bG92dmFyaHBlbHltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA2NTY1MjcsImV4cCI6MjA2NjIzMjUyN30.JitnJ3eTGX_fSffXHTNZ76mc6AorOuJI-Tcq3stMzdU
